<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <!-- <div ngxStripeCardGroup [formGroup]="stripeTest" [elementsOptions]="elementsOptions">

        <div class="form-group">
          <label>Nombres</label>
          <input class="form-control" formControlName="name" />
        </div>
        <div class="form-group">
          <label>Cantidad</label>
          <input class="form-control" formControlName="amount" />
        </div>
        <div class="form-group">
          <ngx-stripe-card-number [options]="cardOptions" class="form-control field"></ngx-stripe-card-number>
        </div>
        <div class="form-group">
          <ngx-stripe-card-expiry [options]="cardOptions" class="form-control"></ngx-stripe-card-expiry>
        </div>
        <div class="form-group">
          <ngx-stripe-card-cvc [options]="cardOptions" class="form-control"></ngx-stripe-card-cvc>
        </div>
        <button type="button" type="submit" (click)="pay()" class="btn btn-primary btn-lg btn-block">Pagar</button>
      </div> -->


      <div [formGroup]="pagoForm">
        <div class="form-group">
          <label>Nombres</label>
          <input class="form-control" formControlName="nombre" />
        </div>
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" formControlName="email" />
        </div>
        <div class="form-group">
          <label>Teléfono</label>
          <input class="form-control" formControlName="telefono" />
        </div>
        <div class="form-group">
          <label>Dirección</label>
          <input class="form-control" formControlName="direccion" />
        </div>
        <div class="form-group">
          <label>Pais</label>
          <input class="form-control" formControlName="pais" />
        </div>

        <div class="form-group">
          <ngx-stripe-card class="form-control" [options]="cardOptions" [elementsOptions]="elementsOptions">
          </ngx-stripe-card>
        </div>

        <button  type="submit" (click)="pagarStripe()" class="btn btn-primary btn-lg btn-block">Pagar</button>

      </div>



      <!-- Paypay -->
      <div>

      <hr>
      <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>
    </div>

  </div>